# ── Cloud API (Render) ──────────────
flask
flask-cors
pandas
numpy
scikit-learn
joblib
matplotlib
seaborn
requests
twilio
gunicorn



# ── PC Serial Bridge (your laptop) ──
# pip install pyserial requests

